.env
.env.*
!.env.example

**/node_modules/
**/vendor/

frontend/dist/
infinityfree-deploy/

backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/bootstrap/cache/*.php
!backend/bootstrap/cache/.gitignore

*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
